<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">
	<test name="Test" preserve-order="true">
		<classes>
			<class name="teseCases.LoginPageTest" />
			<class name="teseCases.CreateCalloutTestPage" />
			<class name="teseCases.EditCalloutsTest" />
			<class name="teseCases.DeleteCalloutTest" />
			<class name="teseCases.CreateResourceFlowTestPage" />
			<class name="teseCases.EditResourceFlowsTest" />
			<class name="teseCases.DeleteResourceFlowTest" />
			<class name="teseCases.CreateNewsArticlesTestPage" />
			<class name="teseCases.EditNewsArticlesTest" />
			<class name="teseCases.DeleteNewsArticleTest" />
			<class name="teseCases.CreateCustomBlockTestPage" />
			<class name="teseCases.EditCustomBlockTest" />
			<class name="teseCases.DeleteCustomTest" />
			<class name="teseCases.CreateDataBaseListingsTestPage" />
			<class name="teseCases.EditDatabaseListingTest" />
			<class name="teseCases.DeleteDatabaseListingTest" />
			<class name="teseCases.createDirectoryListingsTestPage" />
			<class name="teseCases.EditDirectoryListingsTest" />
			<class name="teseCases.DeleteDirectoryListingTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->